#about{
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    padding-top: 30px;
    padding-bottom: 30px;
    h2{
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    p{
        color: $alternate-bg;
        font-size: 10px;
        padding: 0 30px 0 30px;
    }
}