#inspiration{
    position: relative;
    background: $alternate-bg;
    margin-top: -105px;
    height: 120px;

    h2{
        font-size: 20px;
        padding-top: 20px;
    }

    p{
        color: $alternate-text;
        font-size: 10px;
        padding: 10px 45px 20px 45px;

    }

}

@media screen and (min-width: 625px){
    #inspiration{
        display: flex;
        flex-direction: row;
        height: 300px;

        h2{
            font-size: 40px;
            text-align: left;
            padding-left: 10px;
            padding-top: 70px;
        }

        p{
            font-size: 20px;
            text-align: left;
            padding: 60px 15px 20px 35px;
        }
    }
    
}

#experience{
    background: rgba($color: #61b8af, $alpha: 1.0);

    h2{
        font-size: 20px;
        padding-top: 20px;
    }


        div{
            width: 50px;
            height: 50px;
            margin: 20px 20px 20px 20px;

        }
}

@media screen and (min-width: 625px){
    #experience{
        display: flex;
        flex-direction: row;
        height: 300px;

        h2{
            font-size: 40px;
            padding-left: 20px;
            padding-top: 100px;
        }

        #icons
        {
            width: 400px;
            height: 150px;
            margin-top: 50px;
            margin-left: 10%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            div{
                width: 50px;
                height: 50px;
    
            }
        }
    }
    
}

@media screen and (min-width: 700px){
    #experience{
        #icons{
            margin-left: 10%;

            div{
                width: 70px;
                height: 70px;
    
            }
        }
    }
}

@media screen and (min-width: 860px){
    #experience{
        h2{
            font-size: 50px;
            text-align: left;
            padding-left: 50px;
            padding-top: 100px;
        }
        #icons{
            margin-left: 20%;

            div{
                width: 70px;
                height: 70px;
    
            }
        }
    }
}

@media screen and (min-width: 1000px){
    #experience{
        #icons{
            margin-left: 30%;

            div{
                width: 70px;
                height: 70px;
    
            }
        }
    }
}


#mePic{
    width: 70%;
    margin: 0 auto;
}

#icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#software1{
    background: url('../../../images/photoshop.svg') no-repeat;
}
#software1{&:hover{transform: rotate(-20deg);}}

#software2{
    background: url('../../../images/illustrator.svg') no-repeat;
}
#software2{&:hover{transform: rotate(-20deg);}}

#software3{
    background: url('../../../images/after-effects.svg') no-repeat;
}
#software3{&:hover{transform: rotate(-20deg);}}

#software4{
    background: url('../../../images/premier.svg') no-repeat;
}
#software4{&:hover{transform: rotate(-20deg);}}

#software5{
    background: url('../../../images/indesign.svg') no-repeat;
}#software5{&:hover{transform: rotate(-20deg);}}

#demoReel{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $main-color;
    padding-bottom: 50px;
    video{
        margin: 0 auto;
        width: 300px;
    }
    h3{
        font-size: 20px;
        padding-bottom: 10px;
    }
    h4{
        color: $alternate-bg;
        padding: 0 30px 20px 30px;
    }

}

@media screen and (min-width: 625px){
    #demoReel{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: $main-color;
        padding-bottom: 50px;
        padding-top: 30px;
        video{
            margin: 0 auto;
            width: 600px;
        }
        h3{
            font-size: 40px;
            padding-bottom: 10px;
        }
        h4{
            color: $alternate-bg;
            padding: 0 30px 20px 30px;
        }
    
    }
}