
.header{

  #thought{
    display: none;
  }

     background: url('../../images/hero-image-mobile.jpg') fixed no-repeat;
     height: 300px;
     width: 100%;
     #header-info{
       display: flex;
       margin-left: 200px;
       margin-top: 30px;
    h2{
        font-size: 25px;
        margin-left: -255px;
        -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @-webkit-keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
    h3{
        font-size: 25px;
        margin-top: 30px;
        margin-left: -50px;
        -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @-webkit-keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes tracking-in-contract-bck {
        0% {
          letter-spacing: 1em;
          -webkit-transform: translateZ(400px);
                  transform: translateZ(400px);
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }

      #girl-img{
        margin-top: -20px;
        width: 80px;
        height: 120px;
        background: url("../../images/me-anim.svg") no-repeat;
      }

      #girl-img:hover{
        background: url("../../images/me-anim-wink.svg") no-repeat;
      }
    }

    #logoCon{
    
    img{
        width: 150px;
        padding-top: 10px;
    }

margin-left: 10px;
}
}

@media screen and (min-width: 350px) {
    .header{
        background: url("../../images/hero-image-tablet.jpg") fixed no-repeat;
        height: 370px;

        #header-info{
          margin-top: 50px;

          #girl-img{
            margin-left: 70px;
            margin-top: 20px;
          }

          h2{
            margin-left: -330px;
            font-size: 40px;
          }

          h3{
            font-size: 40px;
            padding-top: 20px;
            margin-left: -80px;
          }
        }
    }
}

@media screen and (min-width: 475px) {
    .header{
        background: url("../../images/hero-image-bigTablet.jpg") fixed no-repeat;
        height: 450px;

        #header-info{
          margin-top: 30px;

          #girl-img{
            width: 150px;
            height: 250px;
            margin-left: 70px;
            margin-top: 20px;
          }

          h2{
            padding-top: 50px;
            margin-left: -400px;
            font-size: 40px;
          }

          h3{
            font-size: 40px;
            padding-top: 70px;
            margin-left: -80px;
          }
        }
    }
}

@media screen and (min-width: 625px) {
  .header{
    background: url("../../images/hero-image-desk.png") fixed no-repeat;
    height: 850px;

    #header-info{
      margin-top: 30px;

      #girl-img{
        width: 250px;
        height: 350px;
        margin-left: 40%;
        margin-top: 150px;
      }

      h2{
        padding-top: 150px;
        margin-left: -600px;
        font-size: 60px;
      }

      h3{
        font-size: 60px;
        padding-top: 190px;
        margin-left: -120px;
      }
    }

    #logoCon{
    
      img{
          width: 250px;
          padding-top: 10px;
      }
    }
  }

}

@media screen and (min-width: 760px){
  .header{

    #header-info{
  #girl-img{
        margin-left: 40%;
        margin-top: 150px;
      }
    }
  }

}

@media screen and (min-width: 960px){
  .header{

    #header-info{
  #girl-img{
        margin-left: 40%;
        margin-top: 150px;
      }
    }
  }

}

@media screen and (min-width: 1000px) {
  .header{
    #header-info{
      h2{
        padding-top: 180px;
        margin-left: -730px;
        font-size: 80px;
      }

      h3{
        font-size: 80px;
        padding-top: 240px;
        margin-left: -160px;
      }
    }
  }

}

@media screen and (min-width: 1200px){
  .header{

    #header-info{
  #girl-img{
    width: 400px;
    height: 500px;
        margin-left: 50%;
        margin-top: 80px;
      }

      h2{
        padding-top: 180px;
        margin-left: -1000px;
        font-size: 80px;
      }

      h3{
        font-size: 80px;
        padding-top: 240px;
        margin-left: -160px;
      }
    }
  }

}