
#projects{
  padding-top: 20px;
    display: flex;
    flex-direction: column;
    background: rgba($color: #a3dcd3, $alpha: 1.0);
    h2{
      font-size: 20px;
      padding: 15px;
  }

  .proCon{
    margin-top: -120px;
  }

    div{
    
        margin: 0 auto;

        p{
            color: #aaaaaa;
            letter-spacing: 2px;
            padding-top: 80px;
        }

        a{
            border: 1px solid;
            width: 100px;
            padding: 5px;
            display: flex;
            margin: 0 auto;
        }
        a:hover{
            background: white;
            color: #41797B;
        }

    }


    #teched{
        background: url('../../../images/tech-vid.png');
      }
      
      #climatevid{
        background: url('../../../images/climate-vid.png');
      }
      
      #winead{
        background: url('../../../images/ad-wine.png');
      }
      
      #climateinfo{
        background: url('../../../images/climate-info.png');
      }
      
      #cricketinfo{
        background: url('../../../images/cricket-info.png');
      }
      
      #laurabrand{
        background: url('../../../images/laura-brand.png');
      }
      
      #england{
        background: url('../../../images/series-pic.png');
      }
      
      #drivencell{
        background: url('../../../images/logo-organ.png');
      }

      .see-more{
        width: 300px;
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .graphic{
        width: 30%;
    }
}