.header {
  background: url("../../images/hero-image-mobile.jpg") fixed no-repeat;
  height: 300px;
  width: 100%;
}

.header h2 {
  font-size: 25px;
  margin-top: 35px;
  margin-left: -235px;
}

.header h3 {
  font-size: 25px;
  margin-left: -150px;
}

.header #logoCon {
  margin-left: 10px;
}

.header #logoCon img {
  width: 150px;
  padding-top: 10px;
}

@media screen and (min-width: 350px) {
  .header {
    background: url("../../images/hero-image-tablet.jpg") fixed no-repeat;
    height: 370px;
  }
}

@media screen and (min-width: 477px) {
  .header {
    background: url("../../images/hero-image-bigTablet.jpg") fixed no-repeat;
    height: 450px;
  }
}

.toggleNav {
  right: 0;
  float: right;
  width: 25px;
  padding: 10px 20px 0px 0px;
}

#menuButton {
  width: 25px;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

#toggleList {
  display: none;
  right: 0;
  padding: 45px 0px 0px 0px;
}

#toggleList li {
  padding: 10px 50px 10px 50px;
}

#toggleList a {
  text-decoration: none;
  color: white;
}

#toggleList.active {
  display: block;
  font-size: 30px;
  margin-right: 0px;
  color: black;
  background: rgba(16, 81, 90, 0.8);
  width: 100%;
}

#mainHeader {
  height: 300px;
}

#logoCon img {
  width: 300px;
}

#mainNav button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  background: url("../../../images/burger.svg") center no-repeat;
  width: 35px;
  height: 35px;
  border: 0px;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

#inspiration {
  background: #407b7d;
  margin-top: -105px;
}

#inspiration h2 {
  font-size: 20px;
  padding-top: 20px;
}

#inspiration p {
  color: #aaaaaa;
  font-size: 10px;
  padding: 10px 45px 20px 45px;
}

#experience {
  background: #61b8af;
}

#experience h2 {
  font-size: 20px;
  padding-top: 20px;
}

#experience div {
  width: 50px;
  height: 50px;
  margin: 20px 20px 20px 20px;
}

#mePic {
  width: 70%;
  margin: 0 auto;
}

#icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#software1 {
  background: url("../../../images/photoshop.svg") no-repeat;
}

#software2 {
  background: url("../../../images/illustrator.svg") no-repeat;
}

#software3 {
  background: url("../../../images/after-effects.svg") no-repeat;
}

#software4 {
  background: url("../../../images/premier.svg") no-repeat;
}

#software5 {
  background: url("../../../images/indesign.svg") no-repeat;
}

#demoReel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #a3dcd3;
}

#demoReel video {
  margin: 0 auto;
  width: 300px;
}

#projects {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #a3dcd3;
}

#projects h2 {
  font-size: 20px;
  padding: 15px;
}

#projects .proCon {
  margin-top: -120px;
}

#projects div {
  margin: 0 auto;
}

#projects div p {
  color: #aaaaaa;
  letter-spacing: 2px;
  padding-top: 80px;
}

#projects div a {
  border: 1px solid;
  width: 100px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

#projects div a:hover {
  background: white;
  color: #41797B;
}

#projects #teched {
  background: url("../../../images/tech-vid.png");
}

#projects #climatevid {
  background: url("../../../images/climate-vid.png");
}

#projects #winead {
  background: url("../../../images/ad-wine.png");
}

#projects #climateinfo {
  background: url("../../../images/climate-info.png");
}

#projects #cricketinfo {
  background: url("../../../images/cricket-info.png");
}

#projects #laurabrand {
  background: url("../../../images/laura-brand.png");
}

#projects #england {
  background: url("../../../images/series-pic.png");
}

#projects #drivencell {
  background: url("../../../images/logo-organ.png");
}

#projects .see-more {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#projects .graphic {
  width: 30%;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #a3dcd3;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about h2 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#about p {
  font-size: 10px;
  padding: 0 30px 0 30px;
}

#mainFooter {
  background: #407b7d;
}

#mainFooter #footerNav ul {
  padding-top: 20px;
  padding-bottom: 50px;
}

#mainFooter #footerNav ul li {
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#mainFooter #footerLogo {
  padding-top: 50px;
  padding-left: 10px;
}

#mainFooter #footerLogo img {
  width: 200px;
}

.popover {
  display: none;
  position: absolute;
  background: #407b7d;
  width: 300px;
  height: 500px;
  margin-top: -200px;
}

.popover .see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 300px;
}

.popover .graphic {
  margin-left: 100px;
  width: 80%;
}

.popover h5 {
  color: #aaaaaa;
}

.popover h4 {
  font-size: 20px;
}

.popover .desc {
  color: white;
  font-size: 10px;
  padding: 20px;
}

.show-popover {
  display: block;
}

@media screen and (min-width: 400px) {
  .popover {
    margin-left: -50px;
    width: 400px;
    height: 600px;
    margin-top: -200px;
  }
  .popover .graphic {
    margin-top: 40px;
    margin-left: 130px;
  }
  .popover .video {
    margin-left: 50px;
  }
}

@media screen and (min-width: 600px) {
  .popover {
    margin-left: -150px;
    width: 600px;
    height: 600px;
    margin-top: -200px;
  }
  .popover .graphic {
    margin-top: 40px;
    margin-left: 130px;
  }
  .popover .video {
    margin-left: 50px;
  }
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #a3dcd3;
  padding-bottom: 30px;
}

#contact h3 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#contact form {
  margin: 0 auto;
}

#contact input {
  color: #407b7d;
  background: #a3dcd3;
  border: none;
  border-bottom: 2px solid #407b7d;
  width: 200px;
}

#contact textarea {
  color: #407b7d;
  margin-top: 20px;
  background: #a3dcd3;
  border: 2px solid #407b7d;
  width: 200px;
  height: 100px;
}

#contact #submit {
  margin: 0 auto;
  width: 80px;
  height: 40px;
  color: #407b7d;
  border: solid 2px #407b7d;
  background: #a3dcd3;
}

.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  display: block;
  color: white;
  text-decoration: none;
  font-family: Avenir, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */