@import "../_vars";
@import "_header";
@import "_nav.scss";
@import "_body.scss";
@import "_projects.scss";
@import "_about.scss";
@import "_footer.scss";
@import "_popover.scss";

.hidden{
    display: none;
}

body{
    background: url('../../../images/bg-desk.png') fixed no-repeat;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a{
    display: block;
    color: $text-color;
    text-decoration: none;
    font-family: $font-type;
    font-size: $font-size;
    text-align: center;
    justify-content: center;
}